@import "tailwindcss";

@theme {
  /* Custom container */
  --container-width: 1200px;

  /* Colors */
  --color-primary: #ff4655;
  --color-secondary: #e5e7eb;
  --color-bg-primary: #0f1923;
  --color-bg-secondary: #ece8e11a;
  --color-text: #ece8e1;
  --color-card: #1f2326;
  --color-border: #2b333b;

  /* Fonts */
  --font-primary: var(--font-teko);
  --font-secondary: var(--font-inter);
}
@layer{
  .container{
    @apply mx-auto
  }
  .section_title{
    @apply font-primary text-white font-semibold text-3xl
  }
}